.avatar{
    --avatar-dimensions: 64px;
    width: var(--avatar-dimensions);
    height: var(--avatar-dimensions);
    background-color: tomato;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sizeLg {
    --avatar-dimensions: 128px;
}